body
{
background: rgb(49,97,92);
background: linear-gradient(90deg, rgba(49,97,92,1) 0%, rgba(25,142,165,1) 0%);
}

.footer
{
position:fixed;
bottom:0;
left:0;
background-color:white;
height:40px;
width:100%;
}